body {
  position: relative;
}
.welcome {
  margin-top: 54px;
  background-image: url("/img/welcome.png");
  background-position: left top;
  height: 320px;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.welcome-container {
  width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.welcome-container h1 {
  color: var(--additional-color-white);
  width: 100%;
}
.welcome-container p {
  color: var(--additional-color-white);
  width: 100%;
  margin: 15px 0 25px 0;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 13.3px;
}
.search-bar {
  width: 460px;
  display: flex;
  position: relative;
}
.search-bar input[type="text"] {
  flex: 400;
  padding: 15px;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 13.3px;
  border-radius: 5px 0 0 5px;
  border: none;
  cursor: pointer;
}
.search-btn {
  flex: 0 0 60px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--primary-color-cyan-70);
  align-items: center;
  cursor: pointer;
}
.category-list {
  display: flex;
  align-items: flex-start;
  width: 400px;
  flex-wrap: wrap;
  background-color: var(--additional-color-white);
  display: none;
  position: absolute;
  top: 51px;
  border-radius: 5px;
}
.cat-btn {
  background-color: transparent;
  border: none;
  color: var(--additional-color-black);
  padding: 10px 15px;
  width: 120px;
  text-align: center;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}
.cat-btn:hover {
  background-color: var(--secondary-color-gray-20);
}
main {
  margin: 0 auto;
  padding: 55px 0;
  width: 1170px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.attraction {
  position: relative;
  box-sizing: border-box;
}
.attraction img {
  width: 100%;
  height: 197px;
  overflow: hidden;
  object-fit: cover;
  /* vertical-align: top; */
  display: block;
  border-radius: 5px 5px 0 0;
}
.attraction-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 45px;
}
.attraction-name > p {
  color: var(--additional-color-white);
  padding: 10px;
  line-height: 18px;
}
.attraction-info {
  display: flex;
  align-items: center;
  height: 45px;
  color: var(--secondary-color-gray-50);
}
.attraction-info p:first-child {
  flex: auto;
  padding-left: 10px;
  display: inline-block;
  line-height: 18px;
}
.attraction-info p:last-child {
  flex: none;
  margin-left: auto;
  padding-right: 10px;
}
.border {
  border-radius: 5px;
  border-style: solid;
  border-color: var(--secondary-color-gray-20);
  border-width: 1px;
}
@media (max-width: 1200px) {
  .welcome-container {
    width: 100%;
  }
  main {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-bar {
    max-width: 90%;
  }
}
@media (max-width: 360px) {
  main {
    width: 322px;
    grid-template-columns: 1fr;
  }
  .search-bar {
    width: 315px;
  }
  .search-bar input[type="text"] {
    width: 255px;
  }
  .category-list {
    width: 320px;
  }
  .cat-btn {
    width: 96px;
  }
}
