{% extends "base.html"%} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/attraction.css')}}"
/>{% endblock %}{% block title %}{% endblock %} {% block content %}
<main>
  <div class="container">
    <div class="attraction-container">
      <div class="attraction">
        <div class="gallery"></div>
        <img
          class="prev"
          src="{{url_for('static', filename='img/btn_leftArrow.png')}}"
        />
        <img
          class="next"
          src="{{url_for('static', filename='img/btn_rightArrow.png')}}"
        />
        <div class="pic-current"></div>
      </div>
      <div class="booking">
        <h3 id="name"></h3>
        <div class="place">
          <p class="reg" id="category"></p>
          <p class="reg">at</p>
          <p class="reg" id="mrt"></p>
        </div>
        <div class="booking-container">
          <div class="field">
            <p class="bold">訂購導覽行程</p>
          </div>
          <div class="field">
            <p class="content">
              以此景點為中心的一日行程，帶您探索城市角落故事
            </p>
          </div>
          <div class="field">
            <p class="bold">選擇日期：</p>
            <input type="date" id="date" />
          </div>
          <div class="field">
            <p class="bold">選擇時間：</p>
            <input type="radio" id="morning" name="time" value="morning" />
            <label for="morning">上半天</label>
            <input type="radio" id="afternoon" name="time" value="afternoon" />
            <label for="afternoon">下半天</label>
          </div>
          <div class="field">
            <p class="bold">導覽費用：</p>
            <p class="reg" id="price">新台幣 2000元</p>
          </div>
          <button class="startBookingBtn">開始預約行程</button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="info-container">
      <div class="info">
        <p class="content" id="description"></p>
      </div>
      <div class="info">
        <p class="bold">景點地址：</p>
        <p class="content" id="address"></p>
      </div>
      <div class="info">
        <p class="bold">交通方式：</p>
        <p class="content" id="transport"></p>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block script %}
<script
  type="module"
  src="{{url_for('static', filename='/script/attraction.js')}}"
></script>
{% endblock %}
