{% extends "base.html"%} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/index.css')}}"
/>{% endblock %}{% block title %}台北一日遊{% endblock %} {% block content %}
<section>
  <div class="welcome">
    <div class="welcome-container">
      <h1>輕鬆享受台北一日悠閒</h1>
      <p class="bold">探索每個角落，體驗城市的深度旅遊行程</p>
      <div class="search-bar">
        <input type="text" id="search-input" placeholder="輸入景點名稱查詢" />
        <button type="submit" class="search-btn" id="search-btn">
          <img src="{{url_for('static', filename='/img/icon_search.png')}}" />
        </button>
        <div class="category-list"></div>
      </div>
    </div>
  </div>
</section>
<main></main>
{% endblock %} {% block script %}
<script src="{{url_for('static', filename='/script/index.js')}}"></script>
{% endblock %}
