<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/reset.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/index.css')}}"
    />
    <title>Home Page</title>
  </head>
  <body>
    <div class="sign-background">
      <div class="sign-container" id="signin">
        <div class="decorate"></div>
        <div class="sign">
          <div class="title">登入會員帳號</div>
          <img src="{{url_for('static', filename='/img/icon_close.png')}}" />
          <form method="PUT" id="loginForm">
            <input
              type="email"
              name="email"
              id="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
              size="30"
              placeholder="輸入電子信箱"
              required
            />
            <input
              type="password"
              name="password"
              id="password"
              pattern="(?=.*\d)(?=.*[a-z]).{8,}"
              placeholder="輸入密碼"
              required
            />
            <input type="submit" class="submit-btn" value="登入帳戶" />
          </form>
          <div class="register" id="unregistered">
            <p class="reg">還沒有帳戶？點此註冊</p>
          </div>
        </div>
      </div>
      <div class="sign-container" id="signup">
        <div class="decorate"></div>
        <div class="sign">
          <div class="title">註冊會員帳號</div>
          <img src="{{url_for('static', filename='/img/icon_close.png')}}" />
          <form method="POST" id="signupForm">
            <input
              type="text"
              name="username"
              id="username"
              size="30"
              placeholder="輸入姓名"
              required
            />
            <input
              type="email"
              name="email"
              id="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
              size="30"
              placeholder="輸入電子信箱"
              required
            />
            <input
              type="password"
              name="password"
              id="password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$"
              minlength="8"
              placeholder="輸入密碼"
              required
            />
            <input type="submit" class="submit-btn" value="註冊新帳戶" />
          </form>
          <div class="register" id="registered">
            <p class="reg">已經有帳戶了？點此登入</p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="nav">
        <div class="nav-container">
          <h2>台北一日遊</h2>
          <div class="nav-btn-container">
            <button class="nav-btn">預定行程</button>
            <button class="nav-btn" id="signBtn">登入/註冊</button>
          </div>
        </div>
      </div>
    </nav>
    <section>
      <div class="welcome">
        <div class="welcome-container">
          <h1>輕鬆享受台北一日悠閒</h1>
          <p class="bold">探索每個角落，體驗城市的深度旅遊行程</p>
          <div class="search-bar">
            <input
              type="text"
              id="search-input"
              placeholder="輸入景點名稱查詢"
            />
            <button type="submit" class="search-btn" id="search-btn">
              <img
                src="{{url_for('static', filename='/img/icon_search.png')}}"
              />
            </button>
            <div class="category-list"></div>
          </div>
        </div>
      </div>
    </section>

    <main></main>
    <footer>
      <p class="bold">COPYRIGHT © 2021 台北一日遊</p>
    </footer>

    <script src="{{url_for('static', filename='/script/index.js')}}"></script>
  </body>
</html>
